@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}